appdirs==1.4.4
attrs==25.4.0
beautifulsoup4==4.14.3
certifi==2026.2.25
charset-normalizer==3.4.5
colorama==0.4.6
colorlog==6.10.1
idna==3.11
importlab==0.8.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
lxml==6.0.2
networkx==3.6.1
online-judge-api-client==10.10.1
online-judge-tools==11.5.1
online-judge-verify-helper==5.6.0
PyYAML==6.0.3
referencing==0.37.0
requests==2.32.5
rpds-py==0.30.0
setuptools==69.5.1
soupsieve==2.8.3
toml==0.10.2
typing_extensions==4.15.0
urllib3==2.6.3
